// * {
//   box-sizing: border-box;
// }
// @import url(https://fonts.googleapis.com/css?family=Fjalla+One);
//
$background: linear-gradient(to bottom, #180d5b 0%,#4bb5c4 100%);
$red: #e55643 ;
$green: #2b9f5e;
$yellow: #f1c83c;
$shadow: #533d4a;
$primary-color: #007bff;
$secondary-color: #6c757d;
//
html{
  height: 100%;
}
.logo{height: 50px;width:50px;}
body{
  // font-family: 'Fjalla One', sans-serif;
  font-family: 'Neuton', serif;
  background-size: cover;
  margin: 0;


  //max-width:100%;

}
// .page-white{
//   height: 100vh;
//   background-color: white;
//   color: black;
//   box-sizing:border-box;
//
// }
// .para{
//   display: flex;
//   justify-content: space-between;
// }
// .pic{
//   //position: absolute;
//   width: 100px;
//   height: 100px;
//   border-radius: 17px;
//
//
// }
//
// .container-fluid {
//   text-align: center;
//   padding: 0 20px;
//
// }
//
.nav {

  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  background-color: #110654;
}

.site-title {
  font-size: 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  font-family: 'Neuton', serif;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}
button {
    background-color: white;
    color: #180d5b;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: darken($primary-color, 10%);
      color: white;
    }
  }
//
.robot{
  //height: 358px;
  width: 600px;
}

.left{
  text-align:left;
  margin-top: 110px;
  position: absolute;
  left: 5%;

}
.right{
  text-align: right;
  position:absolute;
  right:0%;
}
.title{
  font-size: 3rem;
}
.Col1{
  float: left;
  width: 31.33%;
  padding: 10px;
  //height: 300px;
  font-size: 20px;
  color:black;
  margin: 10px;
  p{
    text-align: justify;
    padding: 1rem;
  }
}

.card {
  box-sizing: border-box;
  //width: 190px;
//  height: 270px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  align-items: center;
  justify-content: center;
  user-select: none;
  //font-weight: bolder;
  color: black;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
.col{
  h1{
    padding-top: 1rem;
  }
  h3{
  padding-top:2rem;
}
}
.mission{
  margin-top: 40px;
}
.margin{
  margin-top:65px;
}
.image{
  height: 250px;
  width: 250px;
  border-radius: 100%;
}
// .blue{
//   background-color: blue
// }
.Col-Home{
  margin-top: 7rem;
}
.right{
  right:0;
}
.page-color{
  background: $background;
  color: #fff;
  padding-bottom: 10px;
  //text-align: center;
  height: 100vh;
}
.mt-5{
  background-color: $background
}
.center{
  text-align: center;
}
.just{
  text-align: justify;
  padding: 0 20px;
}
.right1{
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 2.5em;
  border-radius: 25px;
  transition: .4s ease-in-out;
  box-shadow: rgba(79, 189, 189, 0.4) 1px 2px 2px;
  width: 600px;
  text-align: center;
}
.aligns{
  text-align: center;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form:hover {
  transform: translateX(-0.5em) translateY(-0.5em);
  border: 1px solid #171717;
  box-shadow: 10px 10px 0px #666666;
}

.heading {
  color: black;
  padding-bottom: 2em;
  text-align: center;
  font-weight: bold;
}

.input {
  border-radius: 5px;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  outline: none;
  padding: 0.7em;
  transition: .4s ease-in-out;
}

.input:hover {
  box-shadow: 6px 6px 0px #969696,
             -3px -3px 10px #ffffff;
}

.input:focus {
  background: #ffffff;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
}

.form .btn {
  margin-top: 2em;
  align-self: center;
  padding: 0.7em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  border: none;
  color: black;
  transition: .4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

.form .btn:hover {
  box-shadow: 6px 6px 0px #969696,
             -3px -3px 10px #ffffff;
  transform: translateX(-0.5em) translateY(-0.5em);
}

.form .btn:active {
  transition: .2s;
  transform: translateX(0em) translateY(0em);
  box-shadow: none;
}
.hi{
  color: black;
}
